   
{% extends 'cupapp/template.html' %}

{% block head %}
      <!--  <meta http-equiv="refresh" content="60;url=/login" />-->
{% endblock %}


    {% block body %}
    <body>
        <div id="datatitle">
            Welcome to the Login page for Emma and Megan's capstone project <br> <br>

        </div>
        <div id="data">
            Portal to login will be displayed here <br> <br>

            <a href="/dashboard" title="goToDashboard">Log In</a>
        </div>
    </body>
    {% endblock %}
