   
{% extends 'cupapp/template.html' %}

{% block head %}
        <meta http-equiv="refresh" content="60;url=/share" />
{% endblock %}


    {% block body %}
    <body>
        <div id="datatitle">
            Welcome to the share or export data page for Emma and Megan's capstone project <br> <br>
            Sample export will be displayed here
        </div>
        <div id="data">
            Export instructions and buttons will be here <br> <br>

            <a href="/login" title="loginPage">Log Out</a>
        </div>
    </body>
    {% endblock %}
